@import 'src/styles/_colors';
@import 'src/styles/_variables';

.sidebar {
  background: $light-2;
  color: $dark-1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: $sidebar-width;
}
