@import "src/styles/_colors";

.footer {
  width: 100%;
  background: $light-3;
  display: flex;
  gap: 8px;
  white-space: nowrap;

  & a {
    padding: 8px;
  }
}

$duration: 60s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.tickerWrap {
  overflow: hidden;
  background-color: $light-4;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  .ticker {
    padding-left: 100%;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      color: $light-1;
    }
  }
}
