{
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@api(/.*)$",
    "^@assets(/.*)$",
    "^@components(/.*)$",
    "^@pages(/.*)$",
    "^@store(/.*)$",
    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
