.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  gap: 16px;
}

.main {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 69px);
}
