.poster {
  position: relative;
  user-select: none;
  height: 100px;
  min-width: 66.66px;
  overflow: hidden;

  & .watchedButton {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 10;
  }

  & img {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &:not([src]) {
      visibility: hidden;
    }
  }
}
