.poster {
  position: relative;
  user-select: none;

  & .watchedButton {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 10;
  }

  & img {
    height: 100px;

    &:not([src]) {
      visibility: hidden;
    }
  }
}