@import "src/styles/colors";

.cinemaCard {
  max-width: 80px;

  & .poster {
    height: 120px;
  }

  & .actions {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80px;
    padding: 2px;
    top: 20px;

    & div {
      color: $toxic-1;
      font-weight: bold;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      cursor: pointer;
    }
  }
}