@import "src/styles/_colors";

.modalLayout  {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba($light-3, 70%);
  display: flex;
  justify-content: center;
  align-items: center;

  & .modalCard {
    display: flex;
    flex-direction: column;
    background: $light-4;
    height: 200px;
    width: 300px;

    & .closeButton {
      align-self: flex-end;
      cursor: pointer;
      padding: 8px;
      line-height: 8px;
      color: $dark-1;
      position: absolute;
    }

    & .modalContent {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}