@import 'src/styles/_colors';

.header {
  width: 100%;
  background: $light-3;
  display: flex;
  justify-content: space-between;
  padding: 8px;

  & button {
    cursor: pointer;
    color: $dark-1;
  }
}
